.table td{
  /* padding-left: 60%; */
  padding-bottom: 5%;
}
.grades{
  overflow-x: visible;
  /* margin-left: 10%; */
}
.table{
  /* margin-left: 10%; */
  text-align: justify;
}
.table td:nth-child(odd){
  margin-left: 2%;
}
.table td:nth-child(even){
  padding-left: 40%;
}

.large{
  border: "10px solid blue !important";
  width: "500px";
  height: '300px';
}

/* .profileImage {
  margin-top: 10%;
  margin-left: 20%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
} */
#collapse{
  display: none;
}

.image-container{
  margin-left: 10%;
  margin-bottom: 10%;
  background-color: beige;
  margin-top: 10%;
  padding-top: 5%;
  width: 60%;
}
.button2{
  display: inline-block;
}
.MuiAvatar-img{
  object-fit: fill !important;
}
.showGradesButton{
  width: 50%;
}
@media (max-width: 960px) {
  .grades{
    margin-left: 10%;
  }
  .table td:nth-child(even){
    padding-left: 5%;
  }
  .table{
    margin-left: 10%;
    overflow-wrap: break-word;
  }
  .showGradesButton{
    margin-left: 20%;
  }
  .image-container{
    width: 90%;
    margin-left: 5%;
  }
  .button2{
    display: block;
  }
  
}